@import "tailwindcss";

#tast-container > div{
    width: 70%;
    margin: 10px auto;
  }
  
  .task-card {
    width: 100%; /* Ensure full width within the column */
    max-width: 300px; /* Optional: Set a max width */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }